:root {
  /* colours */
  --backgroundGrey: #f7f7f7;
  --black: #343434;
  --textGrey: #727272;
  --pink: #fe395c;
  --pinkDarker: #dc4964;
  --white: #fff;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: var(--backgroundGrey);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
