.header {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px;
  height: 75px;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1025px) {
  .header {
    height: 100px;
  }
}
